CLAUDE.md
**/node_modules/
**/dist/
**/.*
!.github/
**/skills-lock.json
**/generated

#Anikets space
scripts/*
security_docs/*
templates/*
traceit-siem
DEPLOYMENT_SUMMARY.MD
Jenkinsfile



node_modules
# Keep environment variables out of version control
.env

/generated/prisma
traceit_backend_sql.sql
traceit_implementation_plan.md
TraceIt—ComprehensiveSystemArchitecture.docx

#Aaditya space
phase-1-summary.txt
PHASE_1_COMPLETION_SUMMARY.md
/blockchain/target/*

# For Blockchain integration test

!/blockchain/target/idl/
!/blockchain/target/idl/traceit.json