CLAUDE.md
**/node_modules/
**/dist/
**/.*
**/skills-lock.json
**/generated

#Anikets space
scripts/*
security_docs/*
templates/*
DEPLOYMENT_SUMMARY.MD
Dockerfile
Jenkinsfile



node_modules
# Keep environment variables out of version control
.env

/generated/prisma
traceit_backend_sql.sql
traceit_implementation_plan.md
TraceIt—ComprehensiveSystemArchitecture.docx

#Aaditya space
phase-1-summary.txt
PHASE_1_COMPLETION_SUMMARY.md